p {
  color: var(--light-content, #a7a7a7);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.06rem;
}

h3 {
    color: var(--dark-content, #666);
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem;
letter-spacing: 0.06rem;
}

hr {
    background: var(--colors-grey, #EBEAED);
    height: 0.01rem;
}